In [1]:
import sys
sys.path.append('../src')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from data_io import load_excel_data, clean_observations, get_annual_summary

# set some plotting defaults
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

In [2]:
# load the data
data = load_excel_data('../data/raw/Observations 2012-2025.xlsx')
df_obs = data['observations']
df_species = data['species']
df_gps = data['gps']

Loading data from ../data/raw/Observations 2012-2025.xlsx...
This might take 30-60 seconds...
✓ Loaded 86 species
✓ Loaded 651 GPS points
Converting count columns to numeric...
✓ Loaded 114497 observation records

In [3]:
# take a look at the structure
print("Observations shape:", df_obs.shape)
print("\nColumn names:")
print(df_obs.columns.tolist())
print("\nFirst few rows:")
df_obs.head()

Observations shape: (114497, 28)

Column names:
['observer_name', 'department_code', 'transect_name', 'date', 'visit_number', 'cloud_cover_raw', 'rain', 'wind', 'visibility', 'point_number', 'start_time', 'species_name', 'distance_category_raw', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'count_auditory', 'count_visual_no_flight', 'count_audio_visual_no_flight', 'count_audio_visual_flight', 'notes', 'individual_count', 'year']

First few rows:

,observer_name,department_code,transect_name,date,visit_number,cloud_cover_raw,rain,wind,visibility,point_number,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,count_auditory,count_visual_no_flight,count_audio_visual_no_flight,count_audio_visual_flight,notes,individual_count,year
0,nan,NaN,nan,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,> 100m,NaN,vol,NaN,NaN,NaN,NaN,nan,0.0,NaN
1,nan,NaN,nan,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,Auditif,Visuel,NaN,NaN,NaN,NaN,NaN,nan,0.0,NaN
2,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,0.0,1.0,1.0,nan,3.0,2014.0
3,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.0,1.0,1.0,1.0,nan,3.0,2014.0
4,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.0,2.0,2.0,2.0,nan,6.0,2014.0

In [4]:
# clean it up
df_clean = clean_observations(df_obs)

=== Data Cleaning ===
Starting with 114497 records
⚠ Found 5 negative wind values - setting to NaN
Removed 4 records with zero/negative counts

✓ Final dataset: 114493 records
  Years: 2014.0 - 2025.0
  Unique species: 102
  Unique transects: 72
  Unique observers: 42
=====================

In [5]:
# get annual summary
annual_summary = get_annual_summary(df_clean)
annual_summary

        n_observations  n_species  total_abundance  n_transects  n_observers
year
2014.0            5377         63     32643.000000           41           24
2015.0            8162         70     52453.000000           53           26
2016.0           11010         77     69062.000000           59           28
2017.0            9228         71     61685.380952           60           27
2018.0            9733         73     61208.000000           65           23
2019.0            9572         70     63217.000000           64           21
2020.0            9956         68     66171.000000           63           15
2021.0           10604         69     72048.000000           63           13
2022.0           10804         68     73549.000000           63           15
2023.0           10224         67     67057.000000           64           14
2024.0           10051         70     65395.000000           65           24
2025.0            9772         72     63151.000000           65           26