In [1]:
import sys
sys.path.append('../src')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from data_io import load_excel_data, clean_observations, get_annual_summary

# set some plotting defaults
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

In [2]:
# load the data
data = load_excel_data('../data/raw/Observations 2012-2025.xlsx')
df_obs = data['observations']
df_species = data['species']
df_gps = data['gps']

Loading data from ../data/raw/Observations 2012-2025.xlsx
Loaded 86 species
Loaded 651 GPS points
Converting count columns to numeric
Loaded 114497 observation records

In [3]:
# take a look at the structure
print("Observations shape:", df_obs.shape)
print("\nColumn names:")
print(df_obs.columns.tolist())
print("\nFirst few rows:")
df_obs.head()

Observations shape: (114497, 28)

Column names:
['observer_name', 'department_code', 'transect_name', 'date', 'visit_number', 'cloud_cover_raw', 'rain', 'wind', 'visibility', 'point_number', 'start_time', 'species_name', 'distance_category_raw', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'count_auditory', 'count_visual_no_flight', 'count_audio_visual_no_flight', 'count_audio_visual_flight', 'notes', 'individual_count', 'year']

First few rows:

,observer_name,department_code,transect_name,date,visit_number,cloud_cover_raw,rain,wind,visibility,point_number,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,count_auditory,count_visual_no_flight,count_audio_visual_no_flight,count_audio_visual_flight,notes,individual_count,year
0,nan,NaN,nan,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,> 100m,NaN,vol,NaN,NaN,NaN,NaN,nan,0.0,NaN
1,nan,NaN,nan,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,Auditif,Visuel,NaN,NaN,NaN,NaN,NaN,nan,0.0,NaN
2,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,0.0,1.0,1.0,nan,3.0,2014.0
3,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.0,1.0,1.0,1.0,nan,3.0,2014.0
4,BELFAN David,972.0,Fond l'Etang,2014-04-12,1.0,2,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,0.0,2.0,2.0,2.0,nan,6.0,2014.0

In [4]:
# clean it up
df_clean = clean_observations(df_obs)

Data Cleaning
Starting with 114497 records
⚠ Found 5 negative wind values - setting to NaN
Removed 4 records with zero/negative counts
Final dataset: 114493 records
  Years: 2014.0 - 2025.0
  Unique species: 102
  Unique transects: 72
  Unique observers: 42

In [5]:
# get annual summary
annual_summary = get_annual_summary(df_clean)
annual_summary

        n_observations  n_species  total_abundance  n_transects  n_observers
year
2014.0            5377         63     32643.000000           41           24
2015.0            8162         70     52453.000000           53           26
2016.0           11010         77     69062.000000           59           28
2017.0            9228         71     61685.380952           60           27
2018.0            9733         73     61208.000000           65           23
2019.0            9572         70     63217.000000           64           21
2020.0            9956         68     66171.000000           63           15
2021.0           10604         69     72048.000000           63           13
2022.0           10804         68     73549.000000           63           15
2023.0           10224         67     67057.000000           64           14
2024.0           10051         70     65395.000000           65           24
2025.0            9772         72     63151.000000           65           26

In [6]:
# Basic Dataset Overview
print("Basic Dataset Overview")

print("\nTemporal Coverage:")
print(f"  First observation: {df_clean['date'].min().strftime('%Y-%m-%d')}")
print(f"  Last observation:  {df_clean['date'].max().strftime('%Y-%m-%d')}")
print(f"  Total years:       {df_clean['year'].nunique()}")
print(f"  Year range:        {int(df_clean['year'].min())} - {int(df_clean['year'].max())}")

print("\nSpatial Coverage:")
print(f"  Unique transects:  {df_clean['transect_name'].nunique()}")
print(f"  Unique points:     {df_clean['point_number'].nunique()} (1-10 per transect)")

print("\nSpecies Diversity:")
print(f"  Unique species:    {df_clean['species_name'].nunique()}")
print(f"  Total individuals: {df_clean['individual_count'].sum():,.0f}")

print("\nSampling Effort:")
print(f"  Total observations: {len(df_clean):,}")
print(f"  Unique observers:   {df_clean['observer_name'].nunique()}")

print("\nCount Statistics:")
print(f"  Mean birds/observation:   {df_clean['individual_count'].mean():.1f}")
print(f"  Median birds/observation: {df_clean['individual_count'].median():.0f}")
print(f"  Max birds/observation:    {df_clean['individual_count'].max():.0f}")

Basic Dataset Overview

Temporal Coverage:
  First observation: 2014-03-29
  Last observation:  2025-07-03
  Total years:       12
  Year range:        2014 - 2025

Spatial Coverage:
  Unique transects:  72
  Unique points:     10 (1-10 per transect)

Species Diversity:
  Unique species:    102
  Total individuals: 747,639

Sampling Effort:
  Total observations: 114,493
  Unique observers:   42

Count Statistics:
  Mean birds/observation:   6.5
  Median birds/observation: 6
  Max birds/observation:    600

In [ ]:
# Missing Value Analysis where we focus on essential columns only
print("Missing Value Analysis (essential columns only)\n")

# Define which columns actually matter for our analysis
essential_cols = [
    'observer_name', 'transect_name', 'species_name', 'date', 'year',
    'individual_count', 'point_number', 'visit_number'
]

optional_cols = [
    'wind', 'rain', 'visibility', 'cloud_cover_raw', 'start_time'
]

print("1. Essential columns (must have for analysis):")
for col in essential_cols:
    missing = df_clean[col].isnull().sum()
    pct = missing / len(df_clean) * 100
    status = "OK" if missing == 0 else f"{missing:,} missing ({pct:.2f}%)"
    print(f"{col:20s}: {status}")

print("\n2. Optional columns (nice to have but not critical):")
for col in optional_cols:
    if col in df_clean.columns:
        missing = df_clean[col].isnull().sum()
        pct = missing / len(df_clean) * 100
        print(f"   {col:20s}: {missing:,} missing ({pct:.2f}%)")

print("\n3. Distance Band Columns (Unnamed: 13-20):")
distance_cols = [col for col in df_clean.columns if 'Unnamed:' in col]
print(f"{len(distance_cols)} distance band columns are mostly empty")
print(f"This is expecte/normal and we will not use these columns in our analysis")

print("\nSummary:")
print(f"- All essential columns are complete or near-complete")
print(f"- Weather data has minimal missing values (<0.1%)")
print(f"- Distance bands are ignored (sparse by design)")
print(f"- Dataset is suitable for biodiversity analysis!")

In [ ]:
# Observations Per Year (Simple Table)
print("Observations Per Year\n")

annual_counts = df_clean.groupby('year').agg({
    'observation_id': 'count',
    'species_name': 'nunique',
    'transect_name': 'nunique',
    'individual_count': 'sum'
}).round(0)

annual_counts.columns = ['N_Obs', 'N_Species', 'N_Transects', 'Total_Birds']
print(annual_counts)

print(f"Note: 2014 and 2025 appear to be partial years")
print(f"2014: {df_clean[df_clean.year == 2014]['date'].min().strftime('%B')} - {df_clean[df_clean.year == 2014]['date'].max().strftime('%B')}")
print(f"2025: {df_clean[df_clean.year == 2025]['date'].min().strftime('%B')} - {df_clean[df_clean.year == 2025]['date'].max().strftime('%B')}")

In [ ]:
# Simple Temporal Coverage Plot
import matplotlib.pyplot as plt
import seaborn as sns

fig, ax = plt.subplots(figsize=(12, 6))

years = annual_counts.index.values
obs_counts = annual_counts['N_Obs'].values

# Colour partial years differently
colors = ['orange' if year in [2014, 2025] else 'blue' for year in years]

ax.bar(years, obs_counts, color=colors, edgecolor='black', alpha=0.8)
ax.set_xlabel('Year', fontweight='bold', fontsize=12)
ax.set_ylabel('Number of Observations', fontweight='bold', fontsize=12)
ax.set_title('Observation Effort Over Time', fontweight='bold', fontsize=14)
ax.grid(axis='y', alpha=0.3)

# Mark partial years
for year in [2014, 2025]:
    if year in years:
        idx = list(years).index(year)
        ax.text(year, obs_counts[idx] + 200, 'Partial\nYear', 
                ha='center', fontsize=9, color='darkred', fontweight='bold')

plt.tight_layout()
plt.savefig('../figures/eda_temporal_coverage.png', dpi=300, bbox_inches='tight')
plt.show()

print("Saved: ../figures/eda_temporal_coverage.png")

### Species: simple summaries and plots

Below we summarise species-level totals and richness over time to understand which species dominate counts and how diversity changes annually.

In [ ]:
# Top 20 species by total individuals
species_totals = (
    df_clean.groupby('species_name')['individual_count']
            .sum()
            .sort_values(ascending=False)
)

top_n = 20
fig, ax = plt.subplots(figsize=(10, 8))
ax.barh(species_totals.head(top_n).index[::-1],
        species_totals.head(top_n).values[::-1],
        color=sns.color_palette(None, top_n))
ax.set_xlabel('Total individuals (2014-2025)', fontweight='bold')
ax.set_ylabel('Species', fontweight='bold')
ax.set_title(f'Top {top_n} species by abundance', fontweight='bold')
plt.tight_layout()
plt.savefig('../figures/eda_species_top20.png', dpi=300, bbox_inches='tight')
plt.show()
print('Saved: ../figures/eda_species_top20.png')

In [ ]:
# Annual species richness (unique species per year)
richness_by_year = (
    df_clean.groupby('year')['species_name']
            .nunique()
            .sort_index()
)

fig, ax = plt.subplots(figsize=(12, 6))
ax.plot(richness_by_year.index.astype(int), richness_by_year.values,
        marker='o', linewidth=2, color='tab:green')
ax.set_xlabel('Year', fontweight='bold')
ax.set_ylabel('Unique species', fontweight='bold')
ax.set_title('Species richness by year', fontweight='bold')
ax.grid(axis='y', alpha=0.3)

# highlight partial years if present
for year in [2014, 2025]:
    if year in richness_by_year.index:
        ax.scatter([year], [richness_by_year.loc[year]], color='orange', s=60, zorder=3)
        ax.text(year, richness_by_year.loc[year] + 1, 'Partial', ha='center', fontsize=9, color='darkred')

plt.tight_layout()
plt.savefig('../figures/eda_species_richness_by_year.png', dpi=300, bbox_inches='tight')
plt.show()
print('Saved: ../figures/eda_species_richness_by_year.png')

### Observer effort: simple summaries and plots

We assess how sampling effort is distributed across observers and over time.

In [ ]:
# Top observers by number of observations
obs_by_observer = (
    df_clean.groupby('observer_name')['observation_id']
            .count()
            .sort_values(ascending=False)
)

n = 15
fig, ax = plt.subplots(figsize=(10, 7))
ax.barh(obs_by_observer.head(n).index[::-1],
        obs_by_observer.head(n).values[::-1],
        color=sns.color_palette('deep', n))
ax.set_xlabel('Number of observations', fontweight='bold')
ax.set_ylabel('Observer', fontweight='bold')
ax.set_title(f'Top {n} observers by observation count', fontweight='bold')
plt.tight_layout()
plt.savefig('../figures/eda_observers_top15_obs.png', dpi=300, bbox_inches='tight')
plt.show()
print('Saved: ../figures/eda_observers_top15_obs.png')

In [ ]:
# Observers by spatial coverage (unique transects visited)
transects_by_observer = (
    df_clean.groupby('observer_name')['transect_name']
            .nunique()
            .sort_values(ascending=False)
)

m = 15
fig, ax = plt.subplots(figsize=(10, 7))
ax.barh(transects_by_observer.head(m).index[::-1],
        transects_by_observer.head(m).values[::-1],
        color=sns.color_palette('husl', m))
ax.set_xlabel('Unique transects', fontweight='bold')
ax.set_ylabel('Observer', fontweight='bold')
ax.set_title(f'Top {m} observers by spatial coverage', fontweight='bold')
plt.tight_layout()
plt.savefig('../figures/eda_observers_top15_transects.png', dpi=300, bbox_inches='tight')
plt.show()
print('Saved: ../figures/eda_observers_top15_transects.png')